<?xml version="1.0" encoding="UTF-8"?>
<!--
    Exercise 7: Implementing Constructor and Setter Injection

    Defines the SAME BookService class wired two different ways so both
    mechanisms can be compared and verified independently.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookRepository" class="com.library.repository.BookRepository"/>

    <!-- Constructor injection: Spring calls new BookService(bookRepository) -->
    <bean id="bookServiceConstructor" class="com.library.service.BookService">
        <constructor-arg ref="bookRepository"/>
    </bean>

    <!-- Setter injection: Spring calls new BookService() then setBookRepository(...) -->
    <bean id="bookServiceSetter" class="com.library.service.BookService">
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

</beans>
